<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.ico"><link href="/static/css/style.css" rel="stylesheet"></head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome admin </h1>
    <p>You are logged in successfully.</p>
    <a href="/logout">Log out</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert-container" id="alertMessage">
        {% for category, message in messages %}
          <div class="alert {{ category }}">
            <span class="alert-icon">
              {% if category == 'success' %}
                ✔️
              {% elif category == 'error' %}
                ❌
              {% endif %}
            </span>
            <span class="alert-message">{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

</body>
</html>
