<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfessorSTEM: AI Learning Companion</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body x-data="{ page: '{{ request.endpoint }}', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }" 
    x-init="
        darkMode = JSON.parse(localStorage.getItem('darkMode')) !== null ? JSON.parse(localStorage.getItem('darkMode')) : true;
        $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))" 
    :class="{'a tf': darkMode === true}">

    <!-- Preloader -->
    <div x-show="loaded" x-init="window.addEventListener('DOMContentLoaded', () => {setTimeout(() => loaded = false, 500)})" class="f l i z mc qb ee ge id uf">
        <div class="sc xb xe xd if mf qf sf"></div>
    </div>

    <!-- Background Lines -->
    <div class="f i l -ud-z-10 qb hc rc ee ie">
        <span class="hd hc dg wl qb ud"></span>
        <span class="hd hc dg wl qb vd"></span>
        <span class="hd hc dg wl qb wd"></span>
    </div>

    {% include 'header.html' %}

    <main class="ba md _g nn 2xl:ud-px-0">
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    <!-- Back To Top Button -->
    <button class="ub ee ge jd nc ze sj wf zk f u v _" @click="window.scrollTo({top: 0, behavior: 'smooth'})" @scroll.window="scrollTop = (window.pageYOffset > 50) ? true : false" :class="{ 'rb' : scrollTop }">
        <svg class="ig bd fc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
        </svg>
    </button>

    <script defer src="/static/js/bundle.js"></script>
</body>
</html>
